<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet'>
    <title>Sign Up</title>
</head>

    <body>
        <%= stylesheet_link_tag "login" %>

        <%=form_with(model: @user, id: "form") do | form | %>
            <div class="container" >
                <%= form.text_field(:username, placeholder: "Username", class: "uname")%>
            </div>
            <div class="container" >
                <%= form.password_field(:password, placeholder: "Password", class: "pword") %>
            </div>
            <%=form.submit('Sign Up!', id: "submit") %>
        <% end %>
    </body>

</html>