<!DOCTYPE html>
<html>
<head>
    <title>RESTAURANTS</title>
    <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
</head> 


<body class= "restaurant_background">
    <header>
        <%=link_to "<button type='button' class='header_button'>Cart History</button>".html_safe, "/carts"%>
    </header>

    <form>
        <%= stylesheet_link_tag "restaurant_index" %>

        <h1 class="title">Restaurants</h1>

        <%@restaurants.each do |r|%>
        <ul><%=link_to r.name, r%></ul><br>
        <%end%>

        <%=link_to "<button type='button'>Check Your Cart</button>".html_safe, "/carts/#{session[:user_id]}"%>

        <%=link_to "<button type='button'>Log Out</button>".html_safe, logout_path%> <br>
    </form>

</body>

</html>