<!DOCTYPE html>
<html>
<head>
    <title>RESTAURANT</title>
    <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
</head> 

<body class= "restaurant_background">
<form>
<%= stylesheet_link_tag "restaurant_index" %>
    <h1 class = "title"><%=@restaurant.name%></h1>
        <label>Average Rating: </label>
        <p><%=@avg_rating%><br></p>
    <br>
        <label>Our most order item is:</label>
        <p><%=@most_ordered%><br></p>
    <br>
        <label>Our Menu:</label><br>
    <%@restaurant.menu_items.each do |mu|%>
    <ul><%=link_to(mu.name, mu)%></ul><br>
    <%end%>
        <%=link_to "<button type='button'>Back To Restaurants</button>".html_safe, "/restaurants"%>
</form>
</body>

</html>

